.mypageheader
.mypagecontent
  .mypagecontent__all
    .mypagecontent__all__picture
      .mypagecontent__all__picture__userinfo
        Username
    .mypagecontent__all__profile
      .mypagecontent__all__profile__evaluation
    .mypagecontent__all__items
      この出品者の商品
.mypagefooter