

.h-header__extra__box {
  background-color: #f8f8f8;
  width: 100vw;
  height: 900px;
  padding-top: 30px;
  .h-header__extra__box__2 {
    width: 60%;
    margin: 0px auto;
    background-color: #fff;
    .h-header__extra__box__2__3 {
      margin: 0;
      .h-header__extra__box__2__3__head {
        font-size: 24px;
        padding: 8px 24px;
      }
      .h-header__extra__box__2__3__inner {
        padding: 40px 40px 64px;
        .new_address {
          max-width: 343px;
          .field1 {
            margin: 0;
            .login-input-text {
              width: 100%;
              margin: 8px 0 0;
            }
          }
        }
      }
    }
  }
}