* {
  box-sizing: border-box;
} 

.h-header{
  // background-color: black;
  height: 100px;
  width: 100%;
  padding: 0, 60px;
  &__extra{
    height: 100%;
    width: 100%;
    // background-color: yellowgreen;
    &__frame{
      margin: 0, 20px;
      padding-top: 15px;
      // background-color: gray;
      &__upper{
        // background-color: magenta;
        height: 50px;
        width: 952px;
        margin: 0 auto; 
        display: flex;
        &__logo{
          height: 50px;
          width: 140px;
          margin-right: 30px;;
          padding-bottom: 10px;
          // background-color: pink;
        }
        &__search{
          height: 36px;
          width: 834px;
          margin-bottom: 5px;
          // background-color: yellow;
          position: relative;
          &__box{
            height: 36px;
            width: 745px;
            padding-left: 5px;
            border: 2px;
            // background-color: darksalmon;
            input{
              height: 36px;
              width: 100%;
              font-size: 16px;
            }
          }
          &__faicon{
            height: 36px;
            width: 36px;
            padding: 2px 8px 8px;
            // padding-top: 2px;
            // padding-right: 8px;
            background-color: #3ccace;
            position: absolute;
            top: 0;
            right: 0;
            a{
              font-size: 20px;
              // background-color: red;
              line-height: 36px;
              text-align: center;
            } 
          }
        }
      }
      &__lower{
        // background-color: springgreen;
        height: 32px;
        width: 952px;
        font-size: 14px;
        line-height: 32px;
        margin: 0 auto;
        display: flex;
        text-decoration: none;
          &__left{
            width: 201px;
            display: flex;
            &__category{
              width:100px;
              // background-color: purple;
              color: black;
              text-decoration: none;
            }
            &__brand{
              width: 102px;
              padding-left: 15px;
              // background-color: deeppink;
              color:black;
              text-decoration: none;
            }
          }
          &__right{
            width: 250px;
            margin-left: 580px;
            display: flex;
            &__log{
              width: 150px;
              padding-left: 5px;
              // background-color: blue;
              color: black;
              text-decoration: none;
            }
            &__new{
              width: 140px;
              padding-left: 5px;
              // background-color: red;
              color: black;
              text-decoration: none;
            }
            &__myp{
              width: 100px;
              // background-color: red;
              color: black;
              text-decoration: none;
            }
          }
      }
    }    
  }
}
.h-header__extra__frame__lower__left__category:hover {
  color: orange;
}
.h-header__extra__frame__lower__left__brand:hover {
  color: orange;
}

.h-main{
  &__frame{
    background-color: lightgrey;
    width: 100%;
    // padding-top: 45px;
    // overflow: scroll;
    &__group{
      // background-color: green;
      box-sizing: border-box;
      width: 1040px;
      height: 644px;
      margin: 0 auto;
      &__cate{
        // background-color: aquamarine;
        width: 1040px;
        height: 80px;
        margin-bottom: 16px;
        padding-top: 45px;
        display:flex;
        justify-content: space-between;
        &__catename{
          // background-color: blanchedalmond;
          width: 930px;
          height: 34px;
        }
        &__catemotto{
          // background-color: cornsilk;
          width: 90px;
          height: 19px;
          padding-top: 10px;
          display: flex;
          justify-content: space-between;
          &__text{
            // background-color: darkgray;
            width: 70px;
            height: 16px;
            color:navy;
            font-size: 12px;
          }
          &__arrow{
            // background-color: fuchsia;
            width: 16px;
            height: 16px;
          }
        }
      }
      &__cont{
        // background-color: greenyellow;
        width: 1040px;
        height: 544px;
        &__lists{
          // background-color: #3CC;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          &__list{
            // background-color: red;
            width: 208px;
            height: 272px;
            padding: 10px;
            &__leaf{
              // background-color: yellowgreen;
              width: 188px;
              height: 252px;
              &__pic{
                background-color: sandybrown;
                width: 188px;
                height: 188px;
                position: relative;
                text-align: center;
                a{
                  width:auto;
                  height:auto;
                  max-width:100%;
                  max-height:100%;
                }
                &__price{
                  background-color: rgba(0,0,0,0.5);
                  color:white;
                  height: 28px;
                  padding: 0 10px 0 0;
                  position: absolute;
                  bottom: 5px;
                  border-radius: 0 12px 12px 0;
                }
              }
              &__comment{
                background-color: lightblue;
                width: 188px;
                height: 64px;
                padding: 12px;
                font-size: 14px;
                
              }
            }
          }
        }
      }
    }
  }
  &__space{
    background-color: white;
    width: 100%;
    height: 100px;
  }
}

.h-main__frame__group__cate__catemotto__text:hover{
  @include hoverline;
}

.banner{
  height: 360px;
  width: 100%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRkpPQbwB2-EwY508Uf__DIg1sPGHIKgBJ1ff8kqGmyaXGAfSSO);
  background-size: cover;
  padding: 100px 40px;
  &__main{
    height: 160px;
    width: 992px;
    margin: 0 auto;
    color: white;
    &__top{
      height: 33px;
      width: 100%;    
      font-size: 24px;
      line-height: 33px;
      text-align: center;
      text-shadow:2px 2px 3px #f51818;
    }
    &__midd{   
      height: 53px;
      width: 100%; 
      font-size: 35px;
      line-height: 53px;
      text-align: center;
      text-shadow:2px 2px 3px #f51818;
    }
    &__bottom{
      height: 53px;
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      &__apple{
        margin-right: 10px;
      }
    }
  }
}

.banner__main__bottom__apple:hover {
  cursor: pointer;
  opacity:0.5;
}
.banner__main__bottom__google:hover {
  cursor: pointer;
  opacity:0.5;
}

.h-footer{
  height:355px;
  width: 100%;
  background-color: black;
  padding: 60px 0;
  color: white;
  &__cont{
    // background-color: gray;
    &__text{
      height:170px;
      width: 840px;
      margin:0 auto;
      display: flex;
      justify-content: space-around;
      &__info{
        height: 100%; 
        width: 265px;
        // background-color: sandybrown;
        &__about{  
          height: 30px;
          text-align: center;
          font-size: 16px;
          font-weight: bold;
          margin: 0 0 20px;
        }
        &__lists{
          a{
            color: white;
            font-size: 12px;
            line-height: 32px;
            text-align: center;
            text-decoration: none; 
          }
        }
        &__list{
          color: white;
          font-size: 12px;
          line-height: 32px;
          text-align: center;
          text-decoration: none;
        }
      }
    }
    &__logo{
      height: 45px;
      width: 100%;
      background-color: black;
      margin: 0 auto;
      line-height: 50px;
      text-align: center;
    }
    &__license{
      height: 16px;
      width: 100%;
      background-color: black;
      line-height: 16px;
      text-align: center;
      font-size: 14px;
      text-decoration: none;
    }
  }
}

.purchase-btn{
  height: 116px;
  width:120px;
  background-color: #3CCACE;
  border-radius: 5px;
  padding :15px;
  position: fixed;
  right: 25px;
  bottom: 25px;

  &__text{
    height: 27px;
    width: 97px;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: white;
    // background-color: seagreen;
  }
  &__box{
    // background-color: red;
    padding-left: 17px;
  }
}

.h-footer__cont__text__info__list:hover{
  @include hoverline;
}

.purchase-btn:hover {
  cursor: pointer;
  opacity:0.9;
}

.detail{
  .category{
    padding: 20px 30px;
    margin: 0 auto;
  }
  .select-test{
    padding: 20px 30px;
    margin: 0 auto;
    width: 100%;
    height: 50px;
  }
}